<h1>Image Search Abstraction Layer</h1>

<h3>Example usage:</h3>
<p>
	<b>Search: </b>
	<a href="{{app_url}}/api/image-search/lunny+tunes" target="_blank">
		{{app_url}}/api/image-search/lunny+tunes
	</a>
</p>
<p>
	<b>Lastest searchs: </b>
	<a href="{{app_url}}/api/lastest/image-search" target="_blank">
		{{app_url}}/api/lastest/image-search
	</a>
</p>
